/*!
    Name: Page Header
    Description: Header hero area containing background image, video or map
    Author: Lisa Maddock
*/

.page-header {
  position: relative;
  text-align: left;
  min-height: 550px;

  @include breakpoint(md) {
    min-height: 595px;
  }
  @include breakpoint(lg) {
    min-height: 715px;
  }
}

.page-header--has-carousel {
  position: static;

  .owl-item {
    height: 550px;

    @include breakpoint(md) {
      height: 595px;
    }
    @include breakpoint(lg) {
      height: 715px;
    }
  }
}

.page-header--carousel-icons {
  display: inline-block;
  zoom: 1;
  position: relative;
  top: 5px;
  left: 0;
  margin-left: 15px;
  z-index: 2;
}

.home-header.page-header {
  @include breakpoint(md) {
    min-height: 595px;
  }
  @include breakpoint(lg) {
    min-height: 715px;
  }
}

.page-header--background-image {
  @include bgImageCover(80%, 100%);
  @include breakpoint(xs) {
    @include bgImageCover(80%, 100%);
  }
  @include breakpoint(sm) {
    @include bgImageCover(50%, 100%);
  }
  @include breakpoint(md) {
    @include bgImageCover(50%, 100%);
  }
  @include breakpoint(lg) {
    @include bgImageCover(50%, 100%);
  }
  z-index: 2;
}

.page-header--gradient {
  &:after {
    @include bgImageGradient();
    z-index: 3;
  }
}

.page-header--navbar {
  background-color: $page-header-navbar-bg-color;
  height: 45px;
  position: relative;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: table;
  align-content: space-between;

  li {
    width: 33.333%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid $grey-brand;

    &:last-of-type {
      border: none;
    }
  }
  @include breakpoint(md) {
    display: none;
  }
}

.page-header--has-nav {
  margin-bottom: 45px;

  @include breakpoint(md) {
    margin-bottom: 0;
  }
}

.page-header--content {
  @include centerElement();
  text-align: center;
  position: absolute;
  z-index: 5;
}

.home-header {

  .page-header--content {
    top: 0;
    left: 0;
    text-align: left;
    max-width: 20rem;
    padding: 90px 30px;
    transform: none;

    .page-header--subtitle {
      padding-top: 15px;
    }

    @include breakpoint(sm) {
      max-width: 24rem;
    }
    @include breakpoint(md) {
      padding: 120px 40px;
      max-width: 30rem;
    }
    @include breakpoint(lg) {
      padding: 90px 55px;
      max-width: 30rem;

      .page-header--subtitle {
        padding-top: 35px;
      }
    }
    .page-header--title {
      text-align: left;
      padding: 0;
    }
  }
}

.site-logo {
  width: 157px;
  height: 100%;
  left: -4px;
  position: relative;

  @include breakpoint(md) {
    width: 209px;
  }
  @include breakpoint(lg) {
    width: 246px;
  }
}

.page-header--title {
  color: $white;
  min-width: 200px;
  text-align: center;

  @include breakpoint(sm) {
  }
  @include breakpoint(md) {
    padding-top: 40px;
  }
  @include breakpoint(lg) {
  }
}

.page-header--subtitle {
  color: $white;
}

//Padding to allow for sidebar when no page header
.no-page-header {
  padding-top: 50px;

  @include breakpoint(sm) {
    padding-top: 60px;
  }

  @include breakpoint(lg) {
    padding-top: 50px;
  }
}

/*
.page-header.has-nav {
  min-height: 595px;

  @include breakpoint(sm) {
    min-height: 595px;
  }
  @include breakpoint(md) {
    min-height: 640px;
  }
  @include breakpoint(lg) {
    min-height: 595px;
  }
}
*/
