/*!
    Name: Hover Tile
    Description: Hover overlay panels for image grids and navigation
    Author: Lisa Maddock
*/

/* Base styles */
.hover-tile-wrapper {
  position: relative;
}

.hover-tile {
  background-color: $hover-tiles-bg-color;
  padding: 25px 30px;
  cursor: pointer;
  transition: height 0.3s ease-in-out;
  height: 100px;
  width: 100%;

  @include breakpoint(sm) {
    padding: 30px 40px;
  }

  @include breakpoint(md) {
    height: 120px;
  }

  @include breakpoint(lg) {
    padding: 30px 80px;
  }
}

.hover-tile--title,
.hover-tile--subtitle,
.hover-tile--text {
  color: $white;
}

.hover-tile--text {
  padding: 30px 0;
}

.hover-tile--link {
  color: $blue-brand;
}

.hover-tile--content {
  display: none;
  opacity: 0;
}

/* Navigation hover tiles */
.navigation-tiles {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;

  @include breakpoint(md) {
    .menu-placeholder {
      display: flex;
    }
    .hover-tile-wrapper {
      width: calc(25% - 3px);
      margin-right: 4px;
      position: relative;
    }
  }

  .hover-tile {
    border-bottom: 1px solid rgba(109, 109, 109, .6);
    padding: 10px 30px;
    height: auto;

    @include breakpoint(md) {
      border: none;
      padding: 30px 30px 30px 40px;
      position: absolute;
      bottom: 0;
      height: 120px;

      &:hover {
        background-color: $hover-tiles-bg-hover-color;
        height: 200px;
        transition: height 0.3s ease-in-out;
      }

      &:hover .hover-tile--content {
        position: absolute;
        bottom: 20%;
        animation: fadeIn 1s ease;
        display: block;
      }
    }

    @include breakpoint(lg) {
      padding: 30px 50px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .hover-tile--title {
    font-family: $font-family-default;
    color: $blue-brand;
    position: relative;

    &:after {
      position: absolute;
      top: 7px;
      right: 0;
      content: " ";
      @include caret(5px, 1px, $blue-brand, 'right');
    }

    @include breakpoint(md) {
      &::after {
        content: none;
      }
    }
  }

  .hover-tile--subtitle {
    display: none;
    line-height: 1.285rem;
    @include breakpoint(md) {
      display: block;
    }
  }
}

/* Infoboxes - overlay for image grid panel and full width image panel */
.panel-grid--full-width,
.panel-grid {

  .hover-tile {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
  }
  .hover-tile--text {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }
}

/* Infoboxes on home page */
.panel-grid {
  .hover-tile:hover .hover-tile--content {
    display: block;
    opacity: 1;
  }

  .hover-tile {
    &:hover {
      background-color: $hover-tiles-bg-hover-color;
      height: 200px;
      transition: height 0.3s ease-in-out;
    }

    &:hover .hover-tile--content {
      position: absolute;
      bottom: 20%;
      animation: fadeIn 1s ease;
      display: block;
    }
  }
}

/* Infoboxes on content pages */
.panel-grid.panel-full-width {

  .hover-tile--wrap {
    @include breakpoint(sm) {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
    }
  }

  .hover-tile {
    @include breakpoint(sm) {
      height: 100%;
      top: 0;
    }

    &:hover {
      height: 100%;

      .hover-tile--content {
        @include breakpoint(sm) {
          position: static;
          animation: none;
          display: block;
        }
      }
    }
  }
  .hover-tile--content {
    @include breakpoint(sm) {
      display: block;
      opacity: 1;
    }
  }
}

