/*!
    Name: Profile
    Description: Contains profile page style for profile and property details
    Author: Lisa Maddock
*/

.page-profile--header {
  padding: 10px 0 40px 0;
  @include breakpoint(sm) {
    padding: 40px 0;
  }

  @include breakpoint(md) {
    padding: 10px 0 40px 0;
  }

  @include breakpoint(lg) {
    padding-top: 0;
  }

  .feature-list {
    display: block;

    @include breakpoint(sm) {
      display: none;
    }
  }
}

.page-profile--left {

  .bullet-list {
    padding-top: 20px;
  }
  &.padding {
    padding-right: 40px;
  }
}

.page-profile--right {
  color: $grey-brand;


  .panel-content--block {
    padding-bottom: 20px;

    p {
      margin: 0 0 0.6rem 0;
    }
  }

  .feature-list {
    display: none;
    padding: 10px 0 50px 5px;

    @include breakpoint(sm) {
      display: block;
    }
  }

  @include breakpoint(md) {
    &.col-pad {
      padding-left: 100px;
    }
  }
}

.agent-profile--wrap {
  display: flex;
  flex-flow: row;
  justify-content: left;
  padding-bottom: 40px;

  @include breakpoint(sm) {
    justify-content: flex-end;
  }

  .agent-profile {
    border-top: 5px solid $white;
    border-right: 5px solid $white;

    &:last-of-type {
      border-right: none;
    }
  }

  .agent-profile--title {
    margin: 0.6rem 0;
  }

}
.agent-profile--title {
  margin: 0 0 0.6rem 0;
  white-space: nowrap;
}

.agent-profile--contact {

  .link--right {
    display: inline-block;
    margin-top: 0.6rem;
  }
}

.panel-profile .agent-profile {
  .agent-profile--title {
    margin: 0 0 0.6rem 0;
  }
}

.page-details {
  .page-profile--right {
    padding-top: 10px;

    @include breakpoint(sm) {
      padding-top: 50px;
    }
    @include breakpoint(md) {
      padding-top: 10px;
    }
  }
}
