/*!
    Name: Forms
    Description: Contains form styles
    Author: Lisa Maddock
*/

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input {
  font-size: inherit;
}

.form-group {
  position: relative;
  margin-bottom: 3rem;

  &.pad-s {
    margin-bottom: 1.5rem;
  }
}

.form-group-inline {
  position: relative;
  margin-bottom: 2rem;
}

.form-control,
.form-control-autosize {
  display: block;
  width: 100%;
  padding: .5rem 0;
  line-height: 1.25;
  color: $base-text-color;
  background-color: $white;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid $blue-brand;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &.error {
    border-bottom: 1px solid $error;
  }

  &:focus {
    color: $base-text-color;
    background-color: $white;
    border-color: none;
    outline: 0;
  }
}

.form-control-autosize {
  resize: both;
  overflow: auto;
  min-height: 20px;
  max-height: 200px;
}

.error .form-control-autosize {
  border-bottom: 1px solid $error;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

select {
  height: 34px;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

textarea {
  height: 36px;
  overflow: hidden;
  box-sizing: border-box;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-control-placeholder {
  position: relative;
  top: -40px;
  left: 0;
  padding: .5rem 0 0 0;
  transition: all 200ms;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder,
.form-control.hasValue + .form-control-placeholder,
.form-control-autosize:focus + .form-control-placeholder,
.form-control-autosize:valid + .form-control-placeholder,
.form-control-autosize.hasValue + .form-control-placeholder {
  color: $grey-brand;
  font-size: 90%;
  position: relative;
  top: 0;
  opacity: 1;
}

// Checkboxes and radios
//

.form-check {
  position: relative;
  display: block;
  margin: 0.5rem 0;
}

.form-radio {
  padding: 0.8rem 0;

  legend {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .radio-inline {
    display: inline-block;
    padding-right: 10px;

  }
}

.form-check-input,
.form-radio-input {
  //take check input out of document flow and hide it
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  //fake checkbox
  & + label:before {
    content: '';
    display: inline-block;
    background: $white;
    border: 1px solid $blue-brand;
    margin-right: 5px;
    vertical-align: text-bottom;
    width: 15px;
    height: 15px;
  }

  &.error + label:before {
    border: 1px solid $error;
  }

  //fake checkbox hover
  &:hover + label:before {
    background: $blue-brand;
  }
}

//fake checkbox checked
.form-check-input {
  &:checked + label:before {
    background: $blue-brand;
  }
}

//fake radio checked
.form-radio-input {
  &:checked + label:before {
    border: 5px solid $blue-brand;
  }
}
/*
.form-check-input {
  //checkmark tick
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 10px;
    background: $white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 $white,
    4px 0 0 $white,
    4px -2px 0 $white,
    4px -4px 0 $white,
    4px -6px 0 $white,
    4px -8px 0 $white;
    transform: rotate(45deg);
  }
}*/

.form-check-label,
.form-radio-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

//Form errors

.error-message {
  color: $error;
  margin-bottom: 2rem;
}

// File input upload
.form-input-link {
  color: $grey-brand;
  font-size: $base-font-size;
  float: right;
  padding-top: 5px;
}

.form-upload {
  display: inline-block;
  margin-bottom: 2rem;
  margin-right: 40px;

  //hide file input and provide custom link
  .file-uploader {
    display: none;
  }

  .form-upload--label {
    display: none;
    margin: 10px 0 0 15px;
  }

  .file-icon {
    margin-right: 5px;
  }
  &.pad-s {
    margin-bottom: 1.5rem;
  }
}

// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

//Form padding and sections
.panel-form,
.panel-form-profile {
  .panel-content {
    padding: 50px 0 50px 0;

    @include breakpoint(md) {
      padding: 60px 0 60px 0;
    }
  }
}

.panel-form-profile {
  .panel-form--title {
    margin-bottom: 15px;
  }
}

.panel-form--title {
  margin-bottom: 30px;

  @include breakpoint(md) {
    margin-bottom: 40px;
  }
}

/* Custom Form in Sidebar */
.sidebar-search-form {

  label {
    color: $white;
    padding: 0.6rem 1rem;
  }

  .form-group {
    margin-bottom: 0.3rem;
  }

  .form-control {
    background-color: $black;
    border: 1px solid $form-select-outline-color;
    color: $white;
    height: 45px;
    padding: 10px 15px;
  }

  [class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
  }
  .button-wrapper {
    float: right;
    padding-top: 0.6rem;
  }
}

.submit-message {
  display: none;
}
