/*!
    Name: Sidebar
    Description: Main navigation bar for site
    Author: Lisa Maddock
*/

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: $black;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  z-index: 14;

  @include breakpoint(sm) {
    height: 60px;
  }

  @include breakpoint(md) {
    height: auto;
    width: $sidebar-width;
    box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.5);
    z-index: 14;
  }

  .s-logo {
    position: absolute;
    top: 14px;
    left: 28px;
    transition: .3s;

    @include breakpoint(sm) {
      left: 40px;
    }

    @include breakpoint(md) {
      left: 20px;
      top: 120px;
    }
  }

  .sidebar--toggle {
    position: absolute;
    top: 0;
    right: 20px;

    @include breakpoint(sm) {
      right: 35px;
    }

    @include breakpoint(md) {
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .sidebar-menu--close {
    display: none;
  }

  .sidebar--search {
    position: absolute;
    top: 15px;
    right: 90px;

    .search-label {
      display: none;
      color: $white;
    }

    @include breakpoint(sm) {
      top: 20px;
      right: 120px;
    }

    /*@include breakpoint(md) {
      right: 150px;
    }*/

    @include breakpoint(md) {
      bottom: 0;
      left: 0;
      top: auto;
      background-color: #353535;
      height: $sidebar-width;
      width: 230px;
      margin-bottom: (-$sidebar-width);
      padding: 30px;
      border: none;
      outline: none;

      transform: rotate(-90deg);
      transform-origin: 0 0;

      .search-icon {
        transform: rotate(90deg);
        margin-right: 15px;
      }
      .search-label {
        display: inline-block;
      }
    }
  }
}

.sidebar.open {
  box-shadow: none;

  .s-logo {
    display: none;
  }

  .sidebar-menu--close {
    display: block;

    @include breakpoint(md) {
      display: none;
    }
  }
  @include breakpoint(md) {
    .sidebar--search {
      display: block;
      width: 80px;

      .search-label {
        display: none;
      }
    }
  }
}

.hamburger-menu {
  background-color: $black;
  border: none;
  box-sizing: initial;
  width: 30px;
  height: 2px;
  text-align: right;
  display: inline-block;
  outline: none;
  user-select: none;
  transition: .3s;
  padding: 10px 0;

  @include breakpoint(sm) {
    padding: 15px 0;
  }

  @include breakpoint(md) {
    padding: 40px 25px;
  }

  span.line {
    background-color: $blue-brand;
    height: 2px;
    display: block;
    position: relative;
    margin-top: 6px;
    transition: all .4s;
    width: 16px;

    &:first-child,
    &:last-child {
      width: 23px;
    }

    @include breakpoint(sm) {
      width: 21px;

      &:first-child,
      &:last-child {
        width: 30px;
      }
    }
  }
  &.active {
    span.line {
      width: 30px;
    }
  }
}


.sidebar-menu--container {
  background-color: $black;
  box-shadow: 0 4px 15px 0 hsla(0, 0%, 50%, .25);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 13;
  opacity: 0;
  left: 0;
  height: 100%;
  transition: width .8s ease-out;

  @media (max-width: $breakpoint-md) {
      display: none;
      width: 100%;
  }

  @include breakpoint(md) {
    width: 70px;
  }

  &.is-active {
    left: 0;
    width: 590px;
  }

  @include breakpoint(md) {
    top: 0;
  }

  .sidebar--toggle {
    display: none;

    @include breakpoint(md) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 16;
    }
  }
}

.sidebar-menu--close {
  display: none;
  top: 12px;
  left: 27px;
  overflow: hidden;
  z-index: 15;

  @include breakpoint(sm) {
    top: 17px;
    left: 35px;
  }

  @include breakpoint(md) {
    top: 42px;
    right: 20px;
    left: auto;
  }

  &:hover {
    &::before, &::after {
      background: $white;
    }
  }

  &::before, &::after {
    background: $blue-brand;
  }
}

.sidebar-menu--container.open {
  .sidebar-menu--close {
    display: block;
  }
}

.sidebar-search-form {
  opacity: 0;
  display: none;
  padding: 80px 30px 0 30px;
  z-index: 15;

  @include breakpoint(sm) {
    padding: 100px 40px 0 40px;
  }

  @include breakpoint(md) {
    padding: 80px 0 0 140px;
  }

  .sidebar-search-form--body {


    @include breakpoint(xs) {
      max-width: 470px;
    }
    @include breakpoint(md) {
      max-width: 400px;
    }

    .search-form {
      opacity: 0;
    }

  }

  h3 {
    color: $white;
    display: inline-block;
    width: 100%;
    transition: all .4s;
  }
}

.sidebar-search-form--title {
  opacity: 0;
  padding: 50px 0 30px 0;
}

.sidebar-overlay {
  background-color: rgba(155,155,155,0.7);
  display: none;
  transition: all .2s;
  z-index: 12;
  right: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar-menu {
  opacity: 0;
  display: none;
  padding: 80px 0 80px 30px;

  @include breakpoint(sm) {
    padding: 100px 0 150px 40px;
  }

  @include breakpoint(md) {
    padding: 80px 0 150px 140px;
  }
  z-index: 15;

  .site-logo {
    opacity: 0;
    margin-bottom: 60px;
    //width: 185px;
    left: -4px;
    position: relative;

    @include breakpoint(sm) {
    //  width: 209px;
    }
  }
}

.sidebar-menu--body {
  a:hover {
    opacity: 0.6;
  }
}

.sidebar-menu--links-primary,
.sidebar-menu--links-secondary {
  margin-bottom: 20px;
  @include breakpoint(sm) {
    margin-bottom: 40px;
  }

  li {
    padding-bottom: 5px;
    opacity: 0;
  }

  .h3 {
    color: $white;
    display: inline-block;
    transition: all .4s;
  }
}

.sidebar-menu--links-secondary {
  .h3 {
    color: $grey-brand;
  }
}

.sidebar-menu--social {
  display: inline-block;
  opacity: 0;

  li {
    display: inline-block;
    margin-right: 5px;
    @include breakpoint(sm) {
      margin-right: 10px;
    }

    a {
      color: $grey-brand;
      transition: color .2s ease-in;
    }
  }
}

.sidebar-menu--footer {
  background-color: $sidebar-footer-bg-color;
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 50px;

  @include breakpoint(sm) {
    height: 80px;
  }

}

.sidebar-menu--footer-search {
  display: none;
  height: 80px;
  width: 80px;
  border-right: 1px solid $black;
  padding: 30px;

  @include breakpoint(md) {
    display: inline-block;
  }

  .icon-search {
    font-size: 24px;
    color: $grey-brand;
  }
}

.sidebar-menu--footer-links {
  opacity: 0;
  display: inline-block;
  padding: 15px 10px 15px 30px;

  @include breakpoint(sm) {
    padding: 30px 35px;
  }

  @include breakpoint(md) {
    padding-left: 130px;
  }

  a {
    display: inline-block;
    padding-right: 15px;
    font-size: 13px;
    @include breakpoint(sm) {
      font-size: inherit;
      padding-right: 40px;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

