/*!
    Name: Page
    Description: Contains common styling wrappers
    Author: Lisa Maddock
*/

.main-wrap {
  background-color: $white;

  //allow for sidenavbar on large screens
  @include breakpoint(md) {
    margin-left: $sidebar-width;
  }
}
.main-wrap.no-page-header {
  background-color: $panel-bg-grey;
}

//TODO: Refactor max widths
.content-wrap {

  max-width: 850px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;

  @include breakpoint(md) {
    max-width: 920px;
  }
  @include breakpoint(lg) {
    max-width: 1090px;
  }
}

.page-back-link {
  font-size: 14px;
  position: absolute;
  left: 30px;
  top: 60px;
}

//flex blocks
.block--align-even {
  display: table;
  margin: 0 0 0.9375rem 0;
  width: 100%;

  .align-left {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }

  .align-right {
    display: table-cell;
    vertical-align: top;
    text-align: right;
  }
  &:last-of-type {
    margin: 0;
  }
}

