/**
 * Owl Carousel v2.3.2
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 20px;

  height: 30px;
  width: 10px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
}

.owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 20px;

  height: 30px;
  width: 10px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
}

.owl-theme .owl-nav .owl-prev::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: " ";

  @include caret(9px, 1px, $black, 'left');

  @include breakpoint(md) {
    @include caret(11px, 1px, $black, 'left');
  }
  @include breakpoint(lg) {
    @include caret(13px, 1px, $black, 'left');
  }
}
.owl-theme .owl-nav .owl-next::before {
  position: absolute;
  top: 7px;
  left: -10px;
  content: " ";

  @include caret(9px, 1px, $black, 'right');

  @include breakpoint(md) {
    @include caret(11px, 1px, $black, 'right');
  }
  @include breakpoint(lg) {
    @include caret(13px, 1px, $black, 'right');
  }
}

.owl-theme .owl-nav [class*='owl-'] {
  margin: 5px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/* Property Sliders */
.panel-property-listing {

  .owl-theme .owl-stage {
    padding-left: 0 !important;
  }
  .owl-item:not(.active) .listing-box--header .triangle {
    visibility: hidden;
  }
  .owl-item:not(.active) .listing-box--body {
    visibility: hidden;
  }
  .owl-theme .owl-nav .owl-prev {
    left: -22px;

    @include breakpoint(md) {
      left: -30px;
    }
    @include breakpoint(lg) {
      left: -50px;
    }
  }
  .owl-theme .owl-nav .owl-next {
    right: -22px;

    @include breakpoint(md) {
      right: -30px;
    }
    @include breakpoint(lg) {
      right: -50px;
    }
  }
}
.panel-testimonials {
  .owl-theme .owl-nav .owl-prev {
    left: 30px;
    @include breakpoint(md) {
      left: 50px;
    }
    @include breakpoint(lg) {
      left: -50px;
    }
    @include breakpoint(xl) {
      left: -200px;
    }
  }
  .owl-theme .owl-nav .owl-next {
    right: 30px;
    @include breakpoint(md) {
      right: 50px;
    }
    @include breakpoint(lg) {
      right: -50px;
    }
    @include breakpoint(xl) {
      right: -200px;
    }
  }
}
.page-header .property-header--slider {

  .item {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
  }

  .item img {
    visibility: hidden;
  }

  .owl-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    .owl-dot span {
      background-image: url(/images/carousel-dot-diamond.svg);
      background-repeat: no-repeat;
      height: 7px;
      width: 15px;
      border-radius: 0;
      background-color: transparent;
      margin: 0;
    }
    .owl-dot.active span, .owl-dot:hover span {
      background-image: url(/images/carousel-dot-diamond-active.svg);
    }
  }

}



