/*!
    Name: Buttons
    Description: Contains button styling and states
    Author: Lisa Maddock
*/

.btn {
  display: inline-block;
  border: 1px solid $blue-brand;

  background-color: transparent;
  color: $blue-brand;
  font-family: $font-family-default-bold;
  font-weight: normal;
  font-size: inherit;
  padding: 15px 25px;

  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  outline: none;

  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    background-color: $blue-brand;
    color: $white;
  }
}

