/*!
    Name: Footer
    Description: Contains styling for common footer
    Author: Lisa Maddock
*/

.site-footer {
  background: $black;
  width: 100%;
  display: block;
  @include clearfix();

  .content-wrap {
    position: relative;
    padding: 4rem 2rem 4rem 2rem;
    color: $white;

    @include breakpoint(sm) {
      padding: 4rem 2rem 4rem 3rem;
      max-width: 1200px;
    }

    @include breakpoint(lg) {
      padding: 4rem 0rem;
    }

    @include breakpoint(xl) {
      max-width: 1090px;
    }

    @include breakpoint(sm) {
      display: flex;
    }

    > div {
      padding-bottom: 2rem;

      @include breakpoint(sm) {
        padding: 0;
      }
    }

    p {
      margin-bottom: 5px;
    }

    .s-logo {
      flex-shrink: 0;
      padding-bottom: 45px;

      @include breakpoint(sm) {
        margin-right: 3%;
      }
    }
  }
}

.site-footer--social {

  @include breakpoint(sm) {
    position: absolute;
    right: 25px;
    @include breakpoint(md) {
      right: 40px;
    }
    top: 80px;
  }

  li {
    display: inline-block;
    margin-right: 5px;
    @include breakpoint(sm) {
      margin-right: 10px;
    }
    a:hover {
      opacity: 0.6;
    }
  }
}

.site-footer--promotion {
  width: 210px;

  @include breakpoint(sm) {
    margin-right: 5%;
  }
  .link-right {
    display: block;
    padding-bottom: 5px;

    @include breakpoint(sm) {
      padding-top: 0
    }
  }
}

.site-footer--contact {
  @include breakpoint(sm) {
    width: 35%;
  }
}

.site-footer--navigation {
  @include breakpoint(sm) {
    width: 45%;
  }
  @include breakpoint(md) {
    width: 40%;
  }
}

.site-footer--navigation-column {
  display: inline-block;
  width: 34%;

  @include breakpoint(sm) {
    padding-top: 2.1rem;
  }
  @include breakpoint(sm) {
    width: 30%;
  }
}

.site-footer--navigation-link {
  font-family: $font-family-default-bold;
  font-weight: normal;

  &:hover {
    opacity: 0.6;
  }
}

.site-footer--legal {
  background-color: $blue-brand;
  padding: 0.4rem 2rem 0.4rem 2rem;

  @include breakpoint(sm) {
    padding: 0.4rem 3rem 0.4rem 3rem;
  }

  .site-footer--legal-wrap {
    a {
      color: $base-text-color;
      font-weight: normal;
    }

    @include breakpoint(sm) {
      display: flex;
      justify-content: space-between;
    }
  }

  .site-footer--legal-list {
    li {
      display: inline-block;
    }
  }
}



