/*!
    Name: Modal
    Description: Modal window styles
    Author: Lisa Maddock
*/

/* Base styles */
.modal {
  .close-icon {
    top: 70px;
    left: 25px;

    @include breakpoint(sm) {
      top: 90px;
      right: 30px;
      left: auto
    }

    @include breakpoint(md) {
      top: 40px;
    }

    @include breakpoint(lg) {
      top: 40px;
      right: 50px;
    }
  }
  .modal-wrap {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;

    @include breakpoint(sm) {
      padding-top: 0;
    }
    &.modal-lg {
      max-width: 800px;
    }
  }
}


