/*!
    Name: Listing Box
    Description: Image and text boxes in property listings and team pages
    Author: Lisa Maddock
*/

.listing-box {
  margin-right: 0;
  width: 100%;
  min-width: 250px;
  border-right: 5px solid $panel-bg-grey;

  @include breakpoint(sm) {
    width: 50%;
  }

  &:nth-child(odd) {
    margin-bottom: 5px;

    @include breakpoint(sm) {

      margin-bottom: 0;
    }
  }
}
.owl-carousel .listing-box {
  @include breakpoint(sm) {
    width: auto;
  }
}


.listing-box--grid-wrap {

  padding-bottom: 50px;

  @include breakpoint(sm) {
    padding-bottom: 60px;
  }

  .listing-box--grid-header {
    border-bottom: 1px solid $listing-box-underline-color;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  .listing-box {
    margin-bottom: 5px;
  }
}

.listing-box--grid {  //wrapper for responsive grid of boxes
  display: block;

  @include breakpoint(sm) {
    display: flex;
    flex-flow: row wrap;
  }
}

.listing-box--grid-results {
  padding-bottom: 30px;

  @include breakpoint(sm) {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
}

.listing-box--grid-results-count {
  padding-bottom: 20px;
}

.listing-box--header {
  position: relative;
  height: 168px;


  @include breakpoint(xs) {
    height: 272px;
  }
  @include breakpoint(lg) {
    height: 325px;
  }

  .panel-bg-image {
    @include bgImageCover(50%, 25%);
    cursor: pointer;
  }

  .triangle {
    position: absolute;
    bottom: 0;
    left: 30px;

    @include breakpoint(md) {
      left: 45px;
    }
    @include breakpoint(lg) {
      left: 60px;
    }
    @include equilateral-triangle('up', 12px, $panel-bg-alt-color);
  }
}

.listing-box:hover .listing-box--header .triangle {
  @include equilateral-triangle('up', 12px, $white);
}
.listing-box:hover .listing-box--body {
  background-color: $white;
}

.listing-box--body {
  font-size: 14px;
  background-color: $panel-bg-alt-color;
  padding: 20px 20px 20px 30px;
  //height: 190px;

  @include breakpoint(sm) {
    height: 230px;
  }

  @include breakpoint(md) {
    padding: 25px 25px 25px 45px;
    height: 250px;
  }
  @include breakpoint(lg) {
    padding: 25px 25px 25px 60px;
  }

  .listing-box--title {
    color: $blue-brand;
    margin: 0;

    @include breakpoint(md) {
      margin: 0 0 0.4rem 0;
    }
  }

  .listing-box--subtitle {
    font-family: $font-family-default-bold;
    font-weight: normal;
  }

  /*.listing-box--features {
    font-size: 0;
    padding: 15px 0 5px 0px;
  }*/

  .listing-box--price {
    padding-bottom: 0.6rem;
    max-width: 250px;
  }

  .listing-box--time {
    padding-bottom: 0.6rem;
  }

  .listing-box--profile-contact {
    padding-top: 3rem;
  }

  .listing-box--contact-link {
    display: inline-block;
    margin-top: 0.6rem;
  }
}

.page-results-offmarket {
  .listing-box--body {
    height: 270px;
    @include breakpoint(sm) {
      height: 300px;
    }
  }
}



