/*!
    Name: Panel
    Description: Base panel styles
    Author: Lisa Maddock
*/

/* Base styles */
.panel {
  margin-top: 5px;
  position: relative;

  &.bg-light {
    background: $panel-bg-grey;
  }
}

/* Default panel copy styling */
.panel-content {
  padding: 50px 0 20px 0;


  @include breakpoint(lg) {
    padding: 70px 0 20px 0;
  }

  .panel-content--block {
    padding-bottom: 30px;

    @include breakpoint(md) {
      padding-bottom: 40px;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    &.divider {
      border-top: 1px solid $grey-brand;
      padding: 20px 0 15px 0;
      margin-bottom: 10px;
    }
  }
}

/*Applies background images to panels with absolute positioning*/
.panel-bg-image {
  @include bgImageCover();
}

//Full width panel with bg image
.panel-full-width {
  h2 {
    color: $white;
  }
}

/* Applies gradient to background images  */
.panel-full-width .panel-bg-image {
  &:after {
    @include bgImageGradient();
  }
}



/* Min Heights for Home Page Grid bg images */
.panel-grid [class*="col-"] {
  min-height: 295px;

  @include breakpoint(sm) {
    min-height: 355px;
  }
  @include breakpoint(md) {
    min-height: 475px;
  }
}

.panel-google-map {
  min-height: 295px;
  height: 100%;
  width: 100%;

  @include breakpoint(sm) {
    min-height: 355px;
  }
  @include breakpoint(md) {
    min-height: 475px;
  }
}

/* Image grid panel - add white border for spacing, not for full width bgs */
.panel-grid {
  [class*="col-"] {
    padding: 0; //remove bootstrap padding
    position: relative;
  }
  [class*="col-"]:nth-child(odd) {
    margin-bottom: 5px;

    @include breakpoint(sm) {
      border-right: 5px solid $white;
      margin-bottom: 0;
    }
  }
}

/* Min Heights for bg InfoBoxes */
.panel-grid.panel-full-width [class*="col-"] {
  border: none;
  margin-bottom: 0;
  padding: 0;
  min-height: 148px;

  @include breakpoint(sm) {
    min-height: 355px;
  }
  @include breakpoint(md) {
    min-height: 475px;
  }
}

//Panels with hover tiles nav and bg image
.panel-navigation-tiles {
  height: 520px;

  @include breakpoint(sm) {
    height: 715px;
  }
  @include breakpoint(md) {
    height: 535px;
  }
  @include breakpoint(lg) {
    height: 475px;
  }
  h2 {
    position: absolute;
    left: 40px;
    top: 35px;
  }
}

/* Panel with testimonial slider */
.panel-testimonials {

  blockquote {
    position: relative;
    padding: 90px 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03rem;
    margin: 0 auto;
    width: 80%;

    @include breakpoint(sm) {
      font-size: 22px;
      line-height: 28px;
      width: 60%;
    }

    @include breakpoint(md) {
      padding: 140px 0;

    }
    @include breakpoint(lg) {
      width: 55%;
      padding: 170px 0;
    }

    &::before,
    &::after {
      position: relative;
      font-size: 120px;
      font-family: $font-family-bodidly;
      color: $blue-brand;
      display: block;
      line-height: 0;
      @include breakpoint(lg) {
        font-size: 150px;
      }
    }

    &::before {
      top: -20px;
      content: "\201C";
    }

    &::after {
      bottom: -70px;
      content: "\201D";
      @include breakpoint(lg) {
        bottom: -100px;
      }
    }
  }
}

//Statistics panel
.panel-statistics {
  background-color: $black;
  min-height: 500px;

  h2 {
    color: $blue-brand;
  }
}

//Benefits numbered list
.panel-benefits {
  .button-wrapper {
    padding-bottom: 30px;
  }
}

//Property listing slider container
.panel-property-listing {
  padding: 30px 0;

  .content-wrap {
    padding: 0 0 0 2rem;
  }
  @include breakpoint(xs) {
    .content-wrap {
      padding: 0 2rem;
    }
  }
}

//Property listing slider
.property-listing--slider {
  padding-bottom: 30px;
}


