/*!
    Name: Select Box
    Description: Custom select / drop down box
*/
.custom-selectbox {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid $blue-brand;
}

.custom-selectbox:after {
  content: " ";
  position: absolute;
  @include caret(4px, 1px, $black, 'bottom');
  right: 15px;
  top: 35%;
}

.custom-selectbox .selectbox {
  position: absolute;
  top: 100%;
  left: -1px;
  right: 0px;
  width: inherit;

  background: white;
  transition: all 0.3s ease-out;
  list-style: none;
  border-right: 1px solid $blue-brand;
  border-left: 1px solid $blue-brand;
  border-bottom: 1px solid $blue-brand;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.custom-selectbox .selectbox li {
  display: block;
  text-decoration: none;
  color: $grey-darkest;
  padding: 10px 15px;
  transition: all 0.3s ease-out;
}

.custom-selectbox .selectbox li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}

.custom-selectbox .selectbox li:hover {
  color: grey;
}

.custom-selectbox .selectbox li:focus {
  outline: none;
  background: transparent;
}

.custom-selectbox.active:after {
  top: 43%;
  @include caret(4px, 1px, $black, 'top');
}

.custom-selectbox.active .selectbox {
  opacity: 1;
  pointer-events: auto;
}

.custom-selectbox-input {
  display: none;
}

//custom styling

//Results style
.page-results .custom-selectbox {
  @include breakpoint(xs) {
    width: 200px;
  }
  .selectbox {
    background: $panel-bg-grey;
  }
}

//Forms style
.panel-form {
  .custom-selectbox,
  .custom-selectbox .selectbox {
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .custom-selectbox .selectbox {
    border-bottom: none;
  }
  .custom-selectbox,
  .custom-selectbox .selectbox li {
    padding: 10px 0;
  }
  .custom-selectbox:after {
    top: 55%;
    @include caret(4px, 1px, $blue-brand, 'bottom');
  }
  .custom-selectbox.active:after {
    top: 55%;
    @include caret(4px, 1px, $blue-brand, 'top');
  }

  .error .custom-selectbox {
    border-bottom: 1px solid $error;
  }
}

//Sidebar black style
.sidebar-search-form {
  .custom-selectbox:after {
    @include caret(4px, 1px, $white, 'bottom');
  }
  .custom-selectbox.active:after {
    @include caret(4px, 1px, $white, 'top');
  }
  .selectbox {
    background: $grey-darker;
  }
  .selectbox li {
    color: $grey-brand;
    border-bottom: 1px solid $grey-brand;
  }
}

