/*!
    Name: Headings
    Description: Common heading styles
    Author: Lisa Maddock
*/

h1, h2, h3, .h1, .h2, .h3 {
  color: $base-text-color;
  font-family: $font-family-default-light;
  letter-spacing: -0.04rem;
}

h4, h5, h6, .h4, .h5, .h6 {
  color: $base-text-color;
  font-family: $font-family-default-bold;
  font-weight: normal;
}

h1 {
  font-weight: normal;
  margin: 0 0 1rem 0;

  @include fontSizeRem(40px, $base-font-size);
  @include lineHeightRem(45px, $base-font-size);

  @include breakpoint(sm) {
    @include fontSizeRem(45px, $base-font-size);
    @include lineHeightRem(54px, $base-font-size);
  }

  @include breakpoint(lg) {
    @include fontSizeRem(48px, $base-font-size-lg);
    @include lineHeightRem(56px, $base-font-size-lg);
  }
}

h2, .h2 {
  font-weight: normal;
  margin: 0 0 0.875rem 0;

  @include fontSizeRem(28px, $base-font-size);
  @include lineHeightRem(35px, $base-font-size);

  @include breakpoint(sm) {
    @include fontSizeRem(32px, $base-font-size);
    @include lineHeightRem(40px, $base-font-size);
  }

  @include breakpoint(lg) {
    @include fontSizeRem(34px, $base-font-size-lg);
    @include lineHeightRem(40px, $base-font-size-lg);
  }
}

h3, .h3 {
  font-weight: normal;
  margin: 0 0 0.35rem 0;

  @include fontSizeRem(18px, $base-font-size);
  @include lineHeightRem(22px, $base-font-size);

  @include breakpoint(sm) {
    @include fontSizeRem(20.5px, $base-font-size);  //TODO: 22px here?
    @include lineHeightRem(28px, $base-font-size);
  }
  @include breakpoint(lg) {
    @include fontSizeRem(24px, $base-font-size-lg);
    @include lineHeightRem(28px, $base-font-size-lg);
  }
}

h4, .h4 {
  margin: 0 0 0.4rem 0;

  @include fontSizeRem(14px, $base-font-size);
  @include lineHeightRem(17.5px, $base-font-size);

  @include breakpoint(lg) {
    @include fontSizeRem(16px, $base-font-size-lg);
    @include lineHeightRem(20px, $base-font-size-lg);
  }
}

h5, .h5 {
  color: $blue-brand;
  margin: 0 0 0.5rem 0;

  @include fontSizeRem(14px, $base-font-size);
  @include lineHeightRem(17.5px, $base-font-size);

  @include breakpoint(lg) {
    @include fontSizeRem(16px, $base-font-size-lg);
    @include lineHeightRem(20px, $base-font-size-lg);
  }
}

h6, .h6 {
  margin: 0 0 1rem 0;

  @include fontSizeRem(14px, $base-font-size);
  @include lineHeightRem(17.5px, $base-font-size);

  @include breakpoint(lg) {
    @include fontSizeRem(16px, $base-font-size-lg);
    @include lineHeightRem(20px, $base-font-size-lg);
  }
}

.sub-heading {
  color: $grey-brand;
  font-family: $font-family-default-bold;
  font-weight: normal;
  margin: 0 0 0.6rem 0;

  @include fontSizeRem(14px, $base-font-size);
  @include lineHeightRem(17.5px, $base-font-size);

  @include breakpoint(lg) {
    @include fontSizeRem(16px, $base-font-size-lg);
    @include lineHeightRem(20px, $base-font-size-lg);
  }

  &.is-selected {
    color: $black;
    text-decoration: underline;
  }
  &.is-disabled {
    color: $text-disabled-color;
    cursor: text;
  }
}

.small-text {
  @include fontSizeRem(10.5px, $base-font-size);
  @include lineHeightRem(18px, $base-font-size);

  @include breakpoint(lg) {
    @include fontSizeRem(12px, $base-font-size-lg);
    @include lineHeightRem(15px, $base-font-size-lg);
  }
}
