/*!
    Name: Video
    Description: Contains video header styling
    Author: Lisa Maddock
*/

.video--embed-container {
  position: relative;
  //padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video--embed-container iframe, .video--embed-container object, .video--embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 100%;
  z-index: 3;
  transform: scale(2.5);    //hack to cover video in header
}
//TODO

.page-header .video--embed-container {
  position: relative;
  text-align: left;
  min-height: 550px;

  @include breakpoint(md) {
    min-height: 595px;
  }
  @include breakpoint(lg) {
    min-height: 715px;
  }
}

.page-header--video,
.page-header--floorplan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  //padding-bottom: 56.25%;
}
.page-header--video-close,
.page-header--floorplan-close {
  display: none;
}

.page-header--has-carousel {
  .page-header--video,
  .page-header--floorplan {
    display: none;
    &.active {
      display: block;
    }
  }
  .page-header--video-close,
  .page-header--floorplan-close {
    display: block;
    z-index: 4;
  }
}

.page-header--floorplan {
  left: 40%;
  top: 40%;
  font-size: 30px;
}
