/*!
    Name: Links
    Description: Contains styling for hyperlinks
    Author: Lisa Maddock
*/
a {
  font-family: $font-family-default-light;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.link--right {
  @include caret-link(5px, 3px, 1px, $grey-brand, 'right');

  &.brand {
    @include caret-link(5px, 3px, 1px, $blue-brand, 'right');

    &:hover {
      position: relative;
      left: 5px;
    }
  }

}
.link--left {
  @include caret-link(5px,3px, 1px, $grey-brand, 'left');

  &.brand {
    @include caret-link(5px, 3px, 1px, $blue-brand, 'left');
  }

  &:hover {
    margin-left: -5px;
  }
}
.link--underline {
  color: $grey-brand;
  font-family: $font-family-default-light;
  text-decoration: underline;
}

/* Separator bar after text links */
.link--divider {
  display: block;
  padding-right: 5px;
}

.link--divider:after {
  content: "\007c";
  padding-left: 5px;
}

//show telephone numbers as links only on mobile
.tel-mobile {
  display: block;
  @include breakpoint(sm) {
    display: none;
  }
}

.tel-desktop {
  display: none;
  @include breakpoint(sm) {
    display: block;
  }
}

.link--page-back {
  position: relative;
  top: -20px;

  //custom breakpoint for back links
  @include breakpoint(1150px) {
    position: absolute;
    left: 20px;
    top: 70px;
  }
}


