/*!
    Name: Shared
    Description: Generic base styles
    Author: Lisa Maddock
*/

* {
  box-sizing: border-box;
}

html {
  color: $base-text-color;
  font-family: $font-family-default-light;
  font-size: $base-font-size;

  @include breakpoint(lg) {
    font-size: $base-font-size-lg;
  }

  @include lineHeightRem($base-line-height, $base-font-size);
  @include breakpoint(lg) {
    @include lineHeightRem($base-line-height-lg, $base-font-size-lg);
  }
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background: $body-bg;
  font-style: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1rem 0;
  @include breakpoint(md) {
    //line-height: 1.5rem;
  }
}

address {
  font-style: normal;
}
