/*!
    Name: Images
    Description: Image and logo styles
    Author: Lisa Maddock
*/

img {
  /* Ensure images don't scale beyond their parents) */
  /*max-width: 100%;*/
  width: auto \9
; /* IE7-8 need help adjusting responsive images */
  height: auto;

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img, /* Prevent max-width from affecting Google Maps */
.google-maps img {
  max-width: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  width: auto;
}

.s-logo {
  width: 26px;

  @include breakpoint(xs) {
    width: 38px;
  }
  @include breakpoint(md) {
    width: 51px;
  }
}
