/*!
    Name: Lists
    Description: Custom text lists
    Author: Lisa Maddock
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}

//Benefits numbered list
.benefits-list {
  list-style-type: none;
  padding: 0 0 20px 0;

  @include breakpoint(sm) {
    display: flex;
    flex-flow: row wrap;
  }

  .benefits-list--item {
    width: 100%;
    //list-style-position: inside;
    counter-increment: step-counter;
    font-size: 30px;
    font-weight: normal;
    border-top: 1px solid;
    padding: 30px 0 30px 0;

    @include breakpoint(sm) {
      width: calc(25% - 10px);
      margin: 40px 10px 0 0;
      padding: 40px 0 0 0;
    }

    &:last-of-type {
      padding: 30px 0 0 0;
      @include breakpoint(sm) {
        padding: 40px 0 0 0;
      }
    }

    &:before {
      content: counter(step-counter) ".";
      margin-right: 5px;
    }
  }
  .benefits-list--item-content {
    display: block;
    padding-top: 40px;
    font-size: 1rem;
  }
}

//Property feature diamonds
.feature-list {
  font-size: 0;
  padding: 15px 0 5px 0px;
}

.feature-list-item {
  display: inline-block;
  background-image: url('/images/diamond-bg.svg');
  background-repeat: no-repeat;
  background-position: top left;
  width: 33px;
  height: 34px;
  position: relative;

  .feature-list--amount {
    position: relative;
    top: 6px;
    left: 13px;
    font-family: $font-family-default-bold;
    font-size: 13px;
  }

  .feature-list-label {
    font-size: 9px;
    font-family: $font-family-default-bold;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-top: 8px;
  }
}

//Inline aligned list
.inline-list {

  li {
    display: flex;
    flex-flow: row;
  }

  .inline-list--label {
    display: inline-block;
    width: 65%;
  }

  .inline-list--text {
    display: inline-block;
    width: 35%;
  }
}

//Tab nav list links for property listing slider
.page-sub-navigation {

  li {
    display: none;
    padding-bottom: 10px;

    @include breakpoint(sm) {
      display: block;
      font-size: 0.875rem;
      display: inline-block;
      padding-right: 20px;
    }
  }
  @include breakpoint(sm) {
    .custom-selectbox {
      display: none;
    }
  }
}
