/*!
    Name: Fonts
    Description: Font family includes
    Author: Lisa Maddock
*/

/*icons*/
@font-face {
  font-family: 'IcoMoon';
  src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*main text*/
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BodidlyBold';
  src: url('../fonts/BodidlyBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


