/*!
    Name: Variables
    Description: Base settings for website
    Author: Lisa Maddock
*/

//Colors
$blue-brand: #6DCEF5;     //brand blue
$blue-outline: #73CDF4;   //brand blue variant
$grey-brand: #6D6D6D;     //brand dark grey
$grey-medium: #A2A2A2;    //brand medium grey
$grey-darkest: #333333;   //body text colour
$grey-darker: #353535;    //body text colour
$grey-dark: #4A4A4A;      //body text colour
$grey-light: #f3f3f3;     //bg colour
$grey-lighter: #f8f8f8;   //bg for alternating panel items in slider
$white: #ffffff;
$black: #000000;
$red: #ea1a1a;
$green: #28a745;

//Element colours
$body-bg: $white;                             //body background colour
$page-header-navbar-bg-color: $grey-dark;     //page header nav background colour
$panel-bg-grey: $grey-light;                  //panel background colour
$panel-bg-alt-color: $grey-lighter;           //listing box alternate grey background
$sidebar-footer-bg-color: $grey-darker;       //sidebar search background colour
$text-disabled-color: $grey-medium;           //disabled text colour
$listing-box-underline-color: $grey-darker;   //listing box title underline border bottom
$form-select-outline-color: $blue-outline ;          //select box outline

$hover-tiles-bg-color: rgba(0, 0, 0, .65);        //hover tiles background colour
$hover-tiles-bg-hover-color: rgba(0, 0, 0, .80);  //hover tiles background colour on hover

//Form colours
$success:       $green !default;
$error:         $red !default;

//Typography
$base-font-size: 14px 				    !default;
$base-font-size-lg: 16px	        !default;
$base-line-height: 20px   		    !default;
$base-line-height-lg: 22px 		    !default;
$icon-font-size: 16px             !default;
$icon-font-size: 1rem	            !default;
$base-text-color: $grey-darkest   !default;

//Font family
$font-family-default: HelveticaNeue, sans-serif;
$font-family-default-light: HelveticaNeueLight, sans-serif;
$font-family-default-bold: HelveticaNeueBold, sans-serif;
$font-family-bodidly: BodidlyBold, sans-serif;

//Fixed width/height
$sidebar-width: 85px;

//Box Shadow
$box-shadow-grey: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
$box-shadow-grey-hover: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);
$box-shadow-inset: inset 0px 20px 20px -20px rgba(0, 0, 0, 0.03);

// Breakpoints
$breakpoint-xs: 480px 		  !default;	// mobile
$breakpoint-sm: 768px 			!default;	// small tablets
$breakpoint-md: 1025px			!default;	// tablets and small desktops
$breakpoint-lg: 1440px			!default;	// desktop standard
$breakpoint-xl: 1920px			!default;	// desktop large

//TODO Spacing - margin and padding
$spacer-xxs: 0.3125rem	!default;	//5px
$spacer-xs: 0.625rem		!default;	//10px
$spacer-sm: 0.9375rem		!default;	//15px
$spacer-md: 1.25rem		  !default;	//20px
$spacer-lg: 1.5625rem	  !default;	//25px
$spacer-xl: 1.875rem		!default;	//30px
$spacer-xxl: 2.5rem		  !default;	//40px
