/*!
    Name: Mixins
    Description: Functions used throughout site
    Author: Lisa Maddock
*/

// --------------------------------------------------------
// clearfix
// --------------------------------------------------------
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

// --------------------------------------------------------
// centerElement
// --------------------------------------------------------
//Center the element on screen
@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// --------------------------------------------------------
// hideElement
// --------------------------------------------------------
//Hide elements for accessibility
@mixin hideElement {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// --------------------------------------------------------
// bgImageCover
// --------------------------------------------------------
//Background image positioned full width in container
@mixin bgImageCover($bg-pos-x:50%, $bg-pos-y:100%) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: $bg-pos-x $bg-pos-y;
  display: block;
}

// --------------------------------------------------------
// bgImageGradient
// --------------------------------------------------------
//Background image gradient layer
@mixin bgImageGradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, .30) 0, rgba(0, 0, 0, .25));
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}
// --------------------------------------------------------
// Fade in animation
// --------------------------------------------------------
//Background image gradient layer

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// --------------------------------------------------------
// breakpoint
// --------------------------------------------------------
// Set media breakpoints
// $bp: screen size variable: sm, md etc.
// @example
// .element{
//     @include breakpoint(sm);
// }
@mixin breakpoint($bp) {
  @if type-of($bp) == number {
    //custom breakpoint
    @media screen and (min-width: $bp) {
      @content;
    }
    //set sizes
  } @else if $bp == xxs {
    @media screen and (min-width: $breakpoint-xxs) {
      @content;
    }
  } @else if $bp == xs {
    @media screen and (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $bp == sm {
    @media screen and (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $bp == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $bp == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $bp == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
  @else  {
    @content;
  }
}

//Adds positioning for content:before
%pseudo-content-before {
  position: relative;
  &:before {
    content: " ";
    position: absolute;
  }
}

//Adds positioning for content:after
%pseudo-content-after {
  position: relative;
  &:after {
    content: " ";
    position: absolute;
  }
}

// --------------------------------------------------------
// caret
// --------------------------------------------------------
// mixin used by caret-before to add caret to links
// $size: px or em
// $border-width: px or em (thickness of caret)
// $direction: top, left, right, bottom
// $color: hex, rgb or rbga
@mixin caret($size, $border-width, $color, $direction) {
  border: solid $color;
  border-width: 0 $border-width $border-width 0;
  display: inline-block;
  padding: $size;

  @if $direction == "right" {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  } @else if $direction == "left" {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  } @else if $direction == "top" {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  } @else if $direction == "bottom" {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

// --------------------------------------------------------
// caret-before
// --------------------------------------------------------
// adds a caret to hyperlinks
// $top: top position
// $left: left position
// $size: px or em
// $border-width: px or em (thickness of caret)
// $color: hex, rgb or rbga
// $direction: top, left, right, bottom

// @example
// .element{
//     @include caret-before(5px, 0, 5px, 1px, #000, 'right');
// }
/*@mixin caret-before($top, $left, $size, $border-width, $color, $direction) {
  @extend %pseudo-content-before;
  &:before {
    top: $top;
    left: $left;
    @include caret($size, $border-width, $color, $direction);
  }
}*/
@mixin caret-link($left, $size, $border-width, $color, $direction) {
  color: $color;
  font-family: $font-family-default-bold;
  font-weight: normal;
  position: relative;

  &:before {
    position: relative;
    content: " ";
    @include caret($size, $border-width, $color, $direction);
    margin-right: $left;
  }
}

// --------------------------------------------------------
// equilateral-triangle
// --------------------------------------------------------
// Includes triangle icon
// $direction: up, down, right, left
// $size: px or em
// $color: hex, rgb or rbga
// @example
// .element{
//     @include equilateral-triangle(top, 10px, $black);
// }
@mixin equilateral-triangle($direction, $size, $color) {
  width: 0;
  height: 0;
  @if $direction == 'up' {
    border-left: calculateRem($size,$base-font-size-lg) solid transparent;
    border-right: calculateRem($size,$base-font-size-lg) solid transparent;
    border-bottom: calculateRem($size,$base-font-size-lg) solid $color;
  }
  @else if $direction == 'down' {
    border-left: calculateRem($size,$base-font-size-lg) solid transparent;
    border-right: calculateRem($size,$base-font-size-lg) solid transparent;
    border-top: calculateRem($size,$base-font-size-lg) solid $color;
  }
  @else if $direction == 'right' {
    border-top: calculateRem($size,$base-font-size-lg) solid transparent;
    border-bottom: calculateRem($size,$base-font-size-lg) solid transparent;
    border-left: calculateRem($size,$base-font-size-lg) solid $color;
  }
  @else if $direction == 'left' {
    border-top: calculateRem($size,$base-font-size-lg) solid transparent;
    border-bottom: calculateRem($size,$base-font-size-lg) solid transparent;
    border-right: calculateRem($size,$base-font-size-lg) solid $color;
  }
}

// --------------------------------------------------------
// calculateRem
// --------------------------------------------------------
//Calculates Rem units relative to the base font-size
// $size: px
// $baseSize: px
// Returns: size in Rem units
@function calculateRem($size,$baseSize) {
  $remSize: $size / $baseSize;
  @return $remSize * 1rem;
}

// --------------------------------------------------------
// lineHeightRem
// --------------------------------------------------------
// Returns rem for line height
// $size: px
// $baseSize: px
@mixin lineHeightRem($size, $baseSize) {
  line-height: $size;
  line-height: calculateRem($size, $baseSize);
}

// --------------------------------------------------------
// fontSizeRem
// --------------------------------------------------------
// Returns rem for line height
// $size: px
// $baseSize: px
// @example
// .element{
//     @include fontSizeRem(24px, 16px);
// }
@mixin fontSizeRem($size, $baseSize) {
  font-size: $size;
  font-size: calculateRem($size, $baseSize);
}

