/*!
    Name: Trumps
    Description: Helper classes
    Author: Lisa Maddock
*/

//Accessibility
.element-invisible {
  @include hideElement();
}

//Clearfix
.clearfix {
 @include clearfix();
}

.nopadding {
  padding: 0; //remove bootstrap padding
}

.brand {
  color: $blue-brand;
}

