<div class="content-wrap">

  <div class="s-logo"><a href="index.html"><img src="images/logo-white-abbr.svg"/></a></div>
  <div class="site-footer--social">
    <aside>
      <ul>
        {{#each socialmenu}}
        <li><a href="{{href}}" class="icon icon-{{icon}}" target="_blank">
          <span class="element-invisible">{{title}}</span>
        </a>
        </li>
        {{/each}}
      </ul>
    </aside>
  </div>
  <div class="site-footer--promotion">
    <h5>Stay up to date</h5>
    <p>Sign up to recieve exclusive property alerts from Sanders</p>
    <a href="#" class="link--right brand">Register now</a>
  </div>
  <div class="site-footer--contact">
    <h5>Contact</h5>
    <address>
      <p class="site-footer--contact-address">9 Jannali Avenue<br>Jannali NSW 2226</p>
      <div><a href="tel:61 2 9528 9299" class="">T&nbsp;|&nbsp;02 9528 9299</a></div>
      <div><a href="tel:61 2 9528 9460" class="">F&nbsp;|&nbsp;02 9528 9299</a></div>
      <div><a href="mailto:admin@sanders.com.au" class="">E&nbsp;|&nbsp;admin@sanders.com.au</a></div>
    </address>
  </div>
  <nav class="site-footer--navigation">
    <div class="site-footer--navigation-column">
      <ul>
        {{#each primarymenu}}
        <li style="opacity: 1; display: list-item; transform: translateY(0px);">
          <a class="site-footer--navigation-link" href="{{href}}" title="{{title}}">
            {{title}} </a>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="site-footer--navigation-column">
      <ul>
        {{#each secondarymenu}}
        <li class="" style="opacity: 1; display: list-item; transform: translateY(0px);">
          <a class="site-footer--navigation-link" href="{{href}}" title="{{title}}">
            {{title}} </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </nav>
</div><!-- end site-footer--wrap -->

<div class="site-footer--legal">
  <div class="site-footer--legal-wrap">
    <ul class="site-footer--legal-list small-text">
      <li><a href="#" class="link--divider">Privacy Policy</a></li>
      <li><a href="#" class="link--divider">Terms and Conditions</a></li>
      <li><a href="#" class="">&copy; Sanders</a></li>
    </ul>
    <div class="small-text">Site designed by End of Work</div>
  </div>
</div>
