{{#each objects}}
<div class="listing-box" data-id="{{id}}">
  <div class="listing-box--header">
    <div class="panel-bg-image"
         style="background-image:url({{src}}); background-position: center top"></div>
    <span class="triangle"></span>
  </div>
  <div class="listing-box--body">
    <h3 class="listing-box--title"><a href="{{href}}" title="{{title}}">{{title}}</a></h3>
    <address class="listing-box--subtitle">{{subtitle}}</address>

    <ul class="feature-list">
      {{#each features}}
      <li class="feature-list-item">
          <span class="feature-list--amount">
            {{amount}}
          </span>
        <span class="feature-list-label">{{label}}</span>
      </li>
      {{/each}}
    </ul>
    <div class="listing-box--price">{{text}}</div>
  </div>
</div>
{{/each}}

