<a href="#" class="sidebar-menu--close close-icon">&nbsp;</a>
<button class="sidebar--toggle hamburger-menu">
  <span class="line"></span><span class="line"></span><span class="line"></span>
</button>
<div class="sidebar-menu" class="overflow-auto">

  <div class="sidebar-menu--body">
    {{#each objects}}
    <img class="site-logo" srcset="{{src}}"
         srcset="/images/logo-white-med.png 768w, images/logo-white-lg.png 1920w"
         alt="Saunders Logo"/>
    <ul class="sidebar-menu--links-primary">
      {{#each primarymenu}}
      <li>
        <a class="h3" href="{{href}}" title="{{title}}" style="pointer-events: auto;">
          {{title}} </a>
      </li>
      {{/each}}
    </ul>
    <ul class="sidebar-menu--links-secondary">
      {{#each secondarymenu}}
      <li>
        <a class="h3" href="{{href}}" title="{{title}}" style="pointer-events: auto;">
          {{title}} </a>
      </li>
      {{/each}}
    </ul>
    <div class="sidebar-menu--social">
      <aside>
        <ul>
          {{#each socialmenu}}
          <li><a href="{{href}}" class="icon icon-{{icon}}" target="_blank">
            <span class="element-invisible">{{title}}</span>
          </a>
          </li>
          {{/each}}
        </ul>
      </aside>
    </div>
    {{/each}}
  </div>
</div>
<div class="sidebar-search-form">
  <div class="sidebar-search-form--body">
    <img class="site-logo" srcset="/images/logo-white.svg"
         srcset="/images/logo-white-med.png 768w, images/logo-white-lg.png 1920w"
         alt="Saunders Logo"/>
    <form class="search-form" action="results-search.html">
      <h3 class="sidebar-search-form--title">Search properties</h3>
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <div id="ddSearchType" class="custom-selectbox form-control" tabindex="0">
              <span>Type</span>
              <input type="text" name="search" name="searchType" class="custom-selectbox-input" value=""/>
              <ul class="selectbox">
                <li data-option-id="1" data-option-val="Buy">Buy</li>
                <li data-option-id="2" data-option-val="Rent">Rent</li>
                <li data-option-id="3" data-option-val="Sold">Sold</li>
                <li data-option-id="4" data-option-val="Leased">Leased</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input type="text" id="searchField" class="form-control" placeholder="Search suburbs, postcode and address"
                   required tabindex="0">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <div id="ddSearchProperty" class="custom-selectbox form-control" tabindex="0">
              <span>Type</span>
              <input type="text" name="searchProperty" class="custom-selectbox-input" value=""/>
              <ul class="selectbox">
                <li data-option-id="1" data-option-val="All">All</li>
                <li data-option-id="2" data-option-val="House">House</li>
                <li data-option-id="4" data-option-val="Apartment">Apartment</li>
                <li data-option-id="4" data-option-val="Unit">Unit</li>
                <li data-option-id="4" data-option-val="Townhouse">Townhouse</li>
                <li data-option-id="3" data-option-val="Villa">Villa</li>
                <li data-option-id="5" data-option-val="Land">Land</li>
                <li data-option-id="3" data-option-val="Duplex">Semi/Duplex</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div id="ddSearchBeds" class="custom-selectbox form-control" tabindex="0">
              <span>Beds</span>
              <input type="text" name="searchBeds" class="custom-selectbox-input" value=""/>
              <ul class="selectbox">
                <li data-option-id="1" data-option-val="any">Any</li>
                <li data-option-id="2" data-option-val="studio">Studio</li>
                <li data-option-id="3" data-option-val="1">1+</li>
                <li data-option-id="4" data-option-val="2">2+</li>
                <li data-option-id="5" data-option-val="3">3+</li>
                <li data-option-id="6" data-option-val="4">4+</li>
                <li data-option-id="7" data-option-val="5">5+</li>
                <li data-option-id="8" data-option-val="6">6+</li>
                <li data-option-id="9" data-option-val="7">7+</li>
                <li data-option-id="10" data-option-val="8">8+</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <div id="ddSearchPriceFrom" class="custom-selectbox form-control" tabindex="0">
              <span>Price from</span>
              <input type="text" name="searchPriceFrom" class="custom-selectbox-input" value=""/>
              <ul class="selectbox">
                <li data-option-id="1" data-option-val="100,000 - 200,000">100,000 - 200,000</li>
                <li data-option-id="2" data-option-val="200,000 - 300,000">200,000 - 300,000</li>
                <li data-option-id="3" data-option-val="300,000 - 400,000">300,000 - 400,000</li>
                <li data-option-id="4" data-option-val="400,000 - 500,000">400,000 - 500,000</li>
                <li data-option-id="5" data-option-val="500,000 - 600,000">500,000 - 600,000</li>
                <li data-option-id="6" data-option-val="600,000 - 700,000">600,000 - 700,000</li>
                <li data-option-id="7" data-option-val="700,000 - 800,000">700,000 - 800,000</li>
                <li data-option-id="8" data-option-val="800,000 - 900,000">800,000 - 900,000</li>
                <li data-option-id="9" data-option-val="900,000 - 1,000,000">900,000 - 1,000,000</li>
                <li data-option-id="9" data-option-val="1,000,000 - 1,500,000">1,000,000 - 1,500,000</li>
                <li data-option-id="10" data-option-val="1,500,000 - 2,000,000">1,500,000 - 2,000,000</li>
                <li data-option-id="11" data-option-val="2,000,000 - 2,500,000">2,000,000 - 2,500,000</li>
                <li data-option-id="12" data-option-val="2,500,000 - 3,000,000">2,500,000 - 3,000,000</li>
                <li data-option-id="13" data-option-val="3,000,000 - 3,500,000">3,000,000 - 3,500,000</li>
                <li data-option-id="14" data-option-val="3,500,000 - 4,000,000">3,500,000 - 4,000,000</li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div id="ddSearchPriceTo" class="custom-selectbox form-control" tabindex="0">
              <span>Price to</span>
              <input type="text" name="searchPriceTo" class="custom-selectbox-input" value=""/>
              <ul class="selectbox">
                <li data-option-id="1" data-option-val="100,000 - 200,000">100,000 - 200,000</li>
                <li data-option-id="2" data-option-val="200,000 - 300,000">200,000 - 300,000</li>
                <li data-option-id="3" data-option-val="300,000 - 400,000">300,000 - 400,000</li>
                <li data-option-id="4" data-option-val="400,000 - 500,000">400,000 - 500,000</li>
                <li data-option-id="5" data-option-val="500,000 - 600,000">500,000 - 600,000</li>
                <li data-option-id="6" data-option-val="600,000 - 700,000">600,000 - 700,000</li>
                <li data-option-id="7" data-option-val="700,000 - 800,000">700,000 - 800,000</li>
                <li data-option-id="8" data-option-val="800,000 - 900,000">800,000 - 900,000</li>
                <li data-option-id="9" data-option-val="900,000 - 1,000,000">900,000 - 1,000,000</li>
                <li data-option-id="9" data-option-val="1,000,000 - 1,500,000">1,000,000 - 1,500,000</li>
                <li data-option-id="10" data-option-val="1,500,000 - 2,000,000">1,500,000 - 2,000,000</li>
                <li data-option-id="11" data-option-val="2,000,000 - 2,500,000">2,000,000 - 2,500,000</li>
                <li data-option-id="12" data-option-val="2,500,000 - 3,000,000">2,500,000 - 3,000,000</li>
                <li data-option-id="13" data-option-val="3,000,000 - 3,500,000">3,000,000 - 3,500,000</li>
                <li data-option-id="14" data-option-val="3,500,000 - 4,000,000">3,500,000 - 4,000,000</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="sidebar-menu--footer">
  <div class="sidebar-menu--footer-links">
    <a href="#" class="link--right brand">Login</a>
    <a href="#" class="link--right">Property management portal</a>
  </div>
</div>
