<!-- Include base layout template - header, footer etc -->
{{> layouts/indexBase page="buy" title="Sanders - Buy" }}

{{#*inline "body-block"}}
<!-- Body content goes here -->

<!-- PAGE HEADER -->
{{> includes/pageHeader }}

<!-- PAGE SECTIONS -->
<article class="page-content">

  <!-- Panel copy content -->
  <section class="panel">
    <div class="panel-content">
      <div class="content-wrap">
        <h2 class="brand">What's on this week</h2>
        <nav class="page-sub-navigation">
          <ul>
            <li><a href="#" class="sub-heading is-selected">New listings</a></li>
            <li><a href="#" class="sub-heading is-disabled">Open times</a></li>
            <li><a href="#" class="sub-heading">Upcoming auctions</a></li>
            <li><a href="#" class="sub-heading">Recent Sales</a></li>
            <li><a href="#" class="sub-heading">Off-market properties</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  {{> includes/panelSlider }}


  <!-- Image panel - full width -->
  {{> includes/infoBox
  right=true
  imgsrc="images/full-bg-auction.png"
  title="Friendly auctions"
  subtitle="A better auction experience"
  text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore  et dolore magna. Dolor sit amet, consectetur  adipiscing elit, sed do
  eiusmod tempor incididunt  ut labore et dolore magna aliqua."
  href=""
  linktext="Learn more"
  }}

  {{> includes/infoBox
  left=true
  imgsrc="images/full-bg-kitchen.png"
  title="Off-market properties"
  subtitle="View properties before they are listed"
  text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore  et dolore magna. Dolor sit amet, consectetur adipiscing elit, sed do
  eiusmod tempor incididunt  ut labore et dolore magna aliqua."
  href=""
  linktext="Learn more"
  }}

  <section class="panel panel-full-width panel-navigation-tiles">
    <div class="panel-bg-image"
         style="background-image:url('images/hero-know-more-lg.png'); background-position: center top"></div>
    <div class="">
      <h2>Want to know more?</h2>
    </div>
    <nav class="navigation-tiles" role="navigation">
      <ul class="menu-placeholder"></ul>
    </nav>
    </div>
  </section><!-- end panel-full-bg -->


  <!-- Panel content with enquiry form -->
  <section class="panel panel-form">
    <div class="panel-content">
      <div class="content-wrap">
        <h2 class="brand">Considering Selling?</h2>
        <div class="panel-content--block">If you’re thinking of selling your home, please get in touch with us and
          we’ll be happy to discuss your needs. You can call us on 02 9528 9299, email us or  book a free property
          appraisal below.
        </div>
        <h4 class="panel-form--title">Book a free property appraisal</h4>
        <div class="container nopadding">
          <form class="validate">
            <div class="error-message"></div>
            <div class="form-row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="firstname" class="form-control" title="First name is required" required>
                  <label class="form-control-placeholder" for="firstname">First Name*</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="lastname" class="form-control" title="Last name is required" required>
                  <label class="form-control-placeholder" for="lastname">Last Name*</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                         title="Email address must have valid format e.g. x@y.com" required>
                  <label class="form-control-placeholder" for="email">Email*</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="number" id="phone" class="form-control" title="Phone numbers must contain only numbers"
                         required>
                  <label class="form-control-placeholder" for="phone">Phone Number*</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="address" class="form-control"
                         title="Address is required and must contain street and number" required>
                  <label class="form-control-placeholder" for="address">Property Address*</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="suburb" class="form-control" title="Suburb is required" required>
                  <label class="form-control-placeholder" for="suburb">Suburb*</label>
                </div>
              </div>
            </div>
            <div class="">
              <div class="form-group">
                <textarea class="form-control" id="message" title="Please enter some message text" required></textarea>
                <label class="form-control-placeholder" for="message">Message</label>
              </div>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="terms" title="You must agree with the terms of use"
                     required>
              <label class="form-check-label" for="terms">
                I agree with the <a href="" class="underline">terms of use</a>
              </label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <button type="submit" class="btn btn-submit">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </section>
</article><!-- end article.page -->
{{/inline}}
