<!-- Include base layout template - header, footer etc -->
{{> layouts/indexBase page="home" title="Sanders - Home" }}

{{#*inline "body-block"}}
<!-- Body content goes here -->

  <!-- HOME PAGE HEADER -->
  {{> includes/pageHeader home=true}}

  <!-- HOME SECTIONS -->
  {{> includes/infoBoxHome }}

  {{> includes/reviews }}

{{/inline}}
